.reviews-container {
  width: 95%;
  margin: 0 auto;
  /* background-color: #36184f; */
  padding-bottom: 2rem;
}
#reviews {
  background-color: #695681;
}
/* $bg-01: #695681;
$bg-02: #36184f;
$bg-03: #32243e; */
.slider-container {
  width: 100% !important;
}

.review-text {
  height: 10rem;
  display: flex;
}

.slider-container .slick-dots {
  position: absolute;
  bottom: -40px !important;
  display: block;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.review-img-container {
  background: #f7f7f7;
  padding: 2em 1.5em;
  margin-top: 0 !important;
  font-size: 0.83em;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.reviews-header {
  font-size: 2.5rem !important;
  font-family: "Mirza", cursive;
  font-family: "Almarai", sans-serif;
  font-family: "Cairo", sans-serif;
  margin-top: -1rem;
  position: relative;
  margin-bottom: 1rem;
  color: white !important;
}
.reviews-header::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 0.25rem;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
.reviews-slider-container .slick-dots li.slick-active button:before {
  font-size: 25px;

  /* color: linear-gradient(90deg, #ffedc0 0%, #ff9d87 100%) !important; */
  color: #e2826c !important;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.slick-dots li button:before {
  font-size: 25px !important;
  color: rgb(201, 189, 189) !important;
  opacity: 1 !important;
  border-radius: 50%;
}

.arrow {
  top: 16rem;
  z-index: 100;
}

.reviews-slider-container.slick-prev {
  width: 4rem;
  height: 4rem;
  left: 4rem !important;
}

.reviews-slider-container .slick-next {
  font-size: 4rem !important;
  right: 4rem !important;
}

.reviews-slider-container .slick-next {
  display: none !important;
}

.review-img {
  height: 20rem;
  width: 20rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.review-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

@media (max-width: 900px) {
  .reviews-header {
    font-size: 2rem !important;
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 600px) {
  .reviews-header {
    font-size: 1.75rem !important;
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 400px) {
  .reviews-header {
    font-size: 1.7rem !important;
    font-family: "Roboto", sans-serif;
  }
}
