.side-button {
  width: 3rem;
  height: 5.5rem;
  background-color: white;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.side-button-links {
  height: 5rem;
  width: 95%;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.side-button-link {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none !important;
  margin: 0.25rem 0rem;
}
.side-button-link span {
  margin-left: 0.3rem;
}
.side-button-link-facebook {
  background-color: #3b5998;
}
.side-button-link-instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
@media (max-width: 1220px) {
  .side-button {
    transform: translateX(0rem);
    cursor: none;
  }
}
