.navigation__checkbox {
  display: none;
  outline: none;
  user-select: none;
}

.navigation__button {
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: -1rem;
  z-index: 15;
  text-align: center;
  z-index: 10000000;
  cursor: pointer;
}
.navigation__button__scrolled {
  top: 0.25rem;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  background: transparent;
  z-index: 1000000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  user-select: none;
}

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1000000;
  background-color: #fefefe;
}

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1000000;
}

.navigation__item {
  margin: 1rem;
  transition: all 0.3s;
  z-index: 20;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  color: black;
  font-weight: 200;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 250%;
  transition: all 0.5s;
}

.navigation__link:link span,
.navigation__link:visited span {
  display: inline-block;
  margin-right: 1.5rem;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: white;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  background-image: radial-gradient(white, white);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.navigation__icon {
  position: relative;
  margin-top: 1.5rem;
}

/* 3 bars color */
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2rem;
  height: 1.5px;
  background-color: black;
  display: inline-block;
  transform: rotate(180deg);
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  width: 1.5rem;
  top: -0.8rem;
}

.navigation__icon::after {
  top: -1.6rem;
}
