.category-item {
  width: 30%;
  height: 25rem;
  margin: 1.5%;
  position: relative;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 1rem;
  // visibility: hidden;
  opacity: 0;
  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: inherit;
  }

  &:nth-of-type(1) {
    visibility: hidden;
    animation: slideLeft 0.75s ease-in-out forwards;

    @media (max-width: 550px) {
      animation: slideLeft 0.25s ease-in-out forwards;
    }
  }
  &:nth-of-type(2) {
    visibility: hidden;
    animation: slideLeft 0.5s ease-in-out forwards;
    @media (max-width: 550px) {
      animation: slideLeft 0.25s ease-in-out forwards;
    }
  }
  &:nth-of-type(3) {
    visibility: hidden;
    animation: slideRight 0.75s ease-in-out forwards;
    @media (max-width: 550px) {
      animation: slideLeft 0.25s ease-in-out forwards;
    }
  }
  &:nth-of-type(4) {
    animation: slideLeft 0.75s ease-in-out forwards;
    @media (max-width: 550px) {
      animation: slideLeft 0.25s ease-in-out forwards;
    }
  }
  &:nth-of-type(5) {
    animation: slideUp 0.5s ease-in-out forwards;
    @media (max-width: 550px) {
      animation: slideLeft 0.25s ease-in-out forwards;
    }
  }
  &:nth-of-type(6) {
    animation: slideRight 0.75s ease-in-out forwards;
    animation-delay: 1s;
    @media (max-width: 550px) {
      animation: slideLeft 0.25s ease-in-out forwards;
    }
  }
  &:nth-of-type(7) {
    visibility: hidden;
    animation: slideLeft 0.75s ease-in-out forwards;
    @media (max-width: 550px) {
      animation: slideLeft 0.25s ease-in-out forwards;
    }
  }
  @media (max-width: 900px) {
    width: 45%;
  }
  @media (max-width: 550px) {
    width: 95%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(25%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-20rem);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes slideLeftCustom {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(20rem);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0rem);
  }
}
