$bg-01: #695681;
$bg-02: #36184f;
$bg-03: #32243e;
.category-list {
  width: 100%;
  height: auto;
  padding: 1.5rem 1.5rem;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  background-color: #32243e;
  @media (max-width: 900px) {
    justify-content: center;
  }
}
