.mobile-navbar-container {
  /* visibility: hidden; */
  display: none;
}
.nav-bar-container {
  height: 7rem;
  position: relative;
  z-index: 1000;
}
@media (max-width: 850px) {
  .mobile-navbar-container {
    display: block;
  }
  .nav-bar-container {
    height: 5rem;
  }
}
