.header {
  width: 100%;
  height: 100vh;
  position: relative;
  @media (max-width: 1024px) {
    height: 40vh;
  }
  &__background-image {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-size: 100% 100%;

    background-position: center;
    overflow: hidden;
    @media (max-width: 1024px) {
      height: 40vh;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    &__text {
      background-color: rgb(0, 168, 224);
      position: absolute;
      bottom: 0.425rem;
      width: 35rem;
      z-index: 2;
      color: white;
      font-size: 1.5rem;
      padding: 3rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & > * {
        color: inherit;
        text-align: center;
        margin: 0.5rem 0;
      }
      &__title {
        font-family: "Open Sans", sans-serif;
        text-shadow: 2px 2px 2px #000;
        font-size: 2rem;
        line-height: 1rem;
        font-weight: 800;
      }
      &__desc {
        font-weight: 300 !important;
      }
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: 50px !important;
  display: block;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
  & > * {
    margin: 0 1rem !important;
  }
}
